<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    
  <!--css-->
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link href="https://cdn.jsdelivr.net/npm/swiper@11.2.1/swiper-bundle.min.css" rel="stylesheet">

  <title>오픈마켓</title>  
</head>

<body>
  <div th:replace="~{fragments/header :: header}"></div>
  
  <main>

    <div th:replace="~{fragments/banner :: banner}"></div>

    <div class="product-list">

      <div class="product">
        <a href="/product/detail" >
        <img th:src="@{/img/product/sample01.jpg}" alt="">
        <p>sample01</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>
      <div class="product">
        <a href="/product/detail">
        <img th:src="@{/img/product/sample02.jpg}" alt="">
        <p>sample02</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>
      <div class="product">
        <a href="/product/detail">
        <img th:src="@{/img/product/sample03.jpg}" alt="">
        <p>sample03</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>
      <div class="product">
        <a href="/product/detail">
        <img th:src="@{/img/product/sample04.jpg}" alt="">
        <p>sample04</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>
      <div class="product">
        <a href="/product/detail">
        <img th:src="@{/img/product/sample05.jpg}" alt="">
        <p>sample05</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>
      <div class="product">
        <a href="/product/detail">
        <img th:src="@{/img/product/sample06.jpg}" alt="">
        <p>sample06</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>
      <div class="product">
        <a href="/product/detail">
        <img th:src="@{/img/product/sample07.jpg}" alt="">
        <p>sample07</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>
      <div class="product">
        <a href="/product/detail">
        <img th:src="@{/img/product/sample08.jpg}" alt="">
        <p>sample08</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>
      <div class="product">
        <a href="/product/detail">
        <img th:src="@{/img/product/sample09.jpg}" alt="">
        <p>sample09</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>
      <div class="product">
        <a href="/product/detail">
        <img th:src="@{/img/product/sample10.jpg}" alt="">
        <p>sample10</p>
        <p class="product-price"><span>60000</span><span>원</span></p>
        <p class="product-date">일 전</p>
      </a>
      </div>

    </div>
  </main>
  
  <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>