spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id:
            client-secret:
            scope:
              - email
              - profile
            redirect-uri: http://ec2-52-79-61-147.ap-northeast-2.compute.amazonaws.com/login/oauth2/code/google

          kakao:
            client-id:
            client-secret:
            scope:
              - profile_nickname
              - profile_image
              - account_email
            client-name: kakao
            authorization-grant-type: authorization_code
            redirect-uri: http://52.79.61.147/login/oauth2/code/kakao
            client-authentication-method: client_secret_post

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
