<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>회원 정보</title>
  </head>
  <body>
    <h1>회원 정보</h1>

    <div>
      <p>아이디: <span id="userId" th:text="${member.userId}"></span></p>
      <p>이름: <span id="userName" th:text="${member.userName}"></span></p>
      <p>이메일: <span id="userEmail" th:text="${member.userEmail}"></span></p>
      <p>
        주소:
        <span id="addr01" th:text="${member.addr01}"></span>
        <span id="addr02" th:text="${member.addr02}"></span>
      </p>
      <p>전화번호: <span id="tel" th:text="${member.tel}"></span></p>
      <p>소개: <span id="introduce" th:text="${member.introduce}"></span></p>
    </div>

    <h2>정보 수정</h2>
    <!-- 수정 버튼: userId를 쿼리 파라미터로 포함 -->
    <a
      th:href="'/member/modify?userId=' + ${member.userId}"
      style="text-decoration: none; color: blue"
      >수정하기</a
    >

    <h2>회원 삭제</h2>
    <!-- 회원 삭제 폼 -->
    <form action="/member/delete" method="post">
      <input type="hidden" name="userId" th:value="${member.userId}" />
      <label for="userPw">패스워드 입력 : </label>
      <input type="password" id="userPw" name="userPw" required />
      <button type="submit">삭제</button>
    </form>
  </body>
</html>
