<div th:fragment="banner">
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <swiper-container class="mySwiper" pagination="true" pagination-dynamic-bullets="true">
    <!-- Slides -->
    <swiper-slide><img th:src="@{/img/banner/banner01.avif}" alt=""></swiper-slide>
    <swiper-slide><img th:src="@{/img/banner/banner02.webp}" alt=""></swiper-slide>
    <swiper-slide><img th:src="@{/img/banner/banner03.jpg}" alt=""></swiper-slide>
    <swiper-slide><img th:src="@{/img/banner/banner04.jpg}" alt=""></swiper-slide>
  </swiper-container>
  </div>
