<header th:fragment="header">
  <div class="top">
    <div class="logo-box">
      <a href="/" target="_blank">
        <img th:src="@{/img/wave-logo.png}" alt="logo">
      </a>
    </div>
    <div>wave</div>
    <div class="login-box">
      
        <li>
          <a href="/login">로그인</a><span>/</span><a href="/signup">회원가입</a>
        </li>
        <li>
          <a href="/cart">
            <img th:src="@{/img/svg/shopping_bag.svg}" alt="shopping_bag">
          </a>
        </li>
        <li>
          <button class="info-button">
            <img th:src="@{/img/svg/person.svg}" alt="profile">
          </button>
        </li>
      
    </div>
  </div>

  <!-- Navigation -->
  <nav>
    <div>
      <button class="category-button">
        <img th:src="@{/img/svg/menu.svg}" alt="Menu">
      </button>
    </div>
    <div class="search-box">
      <form action="/product/list">
        <input type="text" placeholder=" 상품명 검색" name="searchWord">
        <button>
          <img th:src="@{/img/svg/search.svg}" alt="Search">
        </button>
      </form>
    </div>
    <div class="storemenu-box">
      <a href="/product/upload">
        <img th:src="@{/img/svg/unarchive.svg}" alt="Upload">
        <span>판매하기</span>
      </a>
      <a href="/shop/products">
        <img th:src="@{/img/svg/store.svg}" alt="Store">
        <span>내상점</span>
      </a>
      <a href="/member/talk">
        <img th:src="@{/img/svg/sms.svg}" alt="Talk">
        <span>wave톡</span>
      </a>
    </div>
  </nav>

  <!-- Info bar -->
  <div class="info-bar">
    <div class="info-img"></div>
    <hr>
    <div class="info-buttonbox">
      <button><a href="/member/store">내상점</a></button>
      <button><a href="/member/talk">내톡</a></button>
      <button><a href="/member/store">내정보</a></button>
    </div>
  </div>

  <!-- Category bar -->

  

  <div class="category-bar">

    <div class="mc">
      <div class="mc1">여성의류</div>
      <div class="mc2">남성의류</div>
      <div class="mc3">신발</div>
      <div class="mc4">가방/지갑</div>
      <div class="mc5">시계</div>
    </div>

    <div class="sc sc1">              
          <div><a href="">아우터</a></div>
          <div><a href="">상의</a></div>
          <div><a href="">바지</a></div>
          <div><a href="">치마</a></div>
          <div><a href="">원피스</a></div>
          <div><a href="">점프수트</a></div>
          <div><a href="">셋업/세트</a></div>
          <div><a href="">언더웨어/홈웨어</a></div>
          <div><a href="">테마/이벤트</a></div>        
      </div>

      <div class="sc sc2">        
          <div><a href="">아우터</a></div>
          <div><a href="">상의</a></div>
          <div><a href="">바지</a></div>
          <div><a href="">점프수트</a></div>
          <div><a href="">셋업/세트</a></div>
          <div><a href="">언더웨어/홈웨어</a></div>
          <div><a href="">테마/이벤트</a></div>        
      </div>

      <div class="sc sc3">        
          <div><a href="">스니커즈</a></div>
          <div><a href="">남성화</a></div>
          <div><a href="">여성화</a></div>
          <div><a href="">스포츠화</a></div>        
      </div>

      <div class="sc sc4">        
          <div><a href="">여성가방</a></div>
          <div><a href="">남성가방</a></div>
          <div><a href="">여행용 가방</a></div>
          <div><a href="">여성지갑</a></div>
          <div><a href="">남성지갑</a></div>
          <div><a href="">기타 지갑</a></div>        
      </div>

      <div class="sc sc5">        
          <div><a href="">남성시계</a></div>
          <div><a href="">여성시계</a></div>
          <div><a href="">시계용품</a></div>        
      </div>         
 
</header>
