<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head class="head">
    <meta charset="utf-8"/>
    <link rel="icon" href="https://static.toss.im/icons/png/4x/icon-toss-logo.png"/>
    <link rel="stylesheet" href="/css/toss.css"/>
    <link rel="stylesheet" href="/css/payment-checkout.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>상품 구매화면</title>
    <!-- SDK 추가 -->
    <script src="https://js.tosspayments.com/v2/standard"></script>
</head>

<body>
<!-- 주문서 영역 -->
<div class="wrapper">
    <div class="box_section" style="padding: 40px 30px 50px 30px; margin-top: 30px; margin-bottom: 50px">

        <!-- 주문 요약 영역 추가 -->
        <div class="order-summary">
            <h2 class="order-summary-title">결제하기</h2>
            <div class="order-item">
                <img src="https://via.placeholder.com/80" th:src="@{${product.thumbnailUrl}}" alt="상품 이미지">
                <div class="order-item-info">
                    <p class="order-item-name" th:text="${product.productName}">상품명 예시</p>
                    <p class="order-item-price" th:text="|가격: ${#numbers.formatInteger(product.price,0,'COMMA')}원|">가격: 1,000,000원</p>
                </div>
            </div>
            <div class="order-total">
                <p>총 결제금액: <span id="total-amount" th:text="|${#numbers.formatInteger(product.price,0,'COMMA')}원|">1,000,000원</span></p>
            </div>
        </div>
        <!-- // 주문 요약 영역 끝 -->

        <!-- 결제 UI -->
        <div id="payment-method"></div>
        <!-- 이용약관 UI -->
        <div id="agreement"></div>
        <!-- 결제하기 버튼 -->
        <div class="result wrapper">
            <button class="button btn-lg" id="payment-button" style="margin-top: 30px">
                결제하기
            </button>
        </div>
    </div>
</div>
<script th:inline="javascript">
    main();

    async function main() {
        const button = document.querySelector("#payment-button");
        const price = /*[[${product.price}]]*/ 0;
        const productId = /*[[${product.productId}]]*/ 0;
        const userId = /*[[${#authentication.principal.loggedMember.userId}]]*/ "";
        const userName = /*[[${#authentication.principal.loggedMember.userName}]]*/ "";
        const userEmail = /*[[${#authentication.principal.loggedMember.userEmail}]]*/ "";
        const productName = /*[[${product.productName}]]*/ "";
        const userTel = /*[[${#authentication.principal.loggedMember.tel}]]*/ "";
        const tel = userTel.replaceAll("-", "");
        console.log("tel", tel);
        const amount = {
            currency: "KRW",
            value: price,
        };

        // ------  결제위젯 초기화 ------
        const clientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
        const customerKey = /*[[${orderId}]]*/ "";
        const tossPayments = TossPayments(clientKey);
        // 회원 결제
        const widgets = tossPayments.widgets({customerKey,});

        // ------  주문서의 결제 금액 설정 ------
        // TODO: 위젯의 결제금액을 결제하려는 금액으로 초기화하세요.
        // TODO: renderPaymentMethods, renderAgreement, requestPayment 보다 반드시 선행되어야 합니다.
        await widgets.setAmount(amount);

        await Promise.all([
            // ------  결제 UI 렌더링 ------
            widgets.renderPaymentMethods({
                selector: "#payment-method",
                // 렌더링하고 싶은 결제 UI의 variantKey
                // 결제 수단 및 스타일이 다른 멀티 UI를 직접 만들고 싶다면 계약이 필요해요.
                variantKey: "DEFAULT",
            }),
            // ------  이용약관 UI 렌더링 ------
            widgets.renderAgreement({
                selector: "#agreement",
                variantKey: "AGREEMENT",
            }),
        ]);

        // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
        button.addEventListener("click", async function () {
            const sendData = {
                orderId: customerKey,
                customerEmail: userEmail,
                amount: price,
                productId: productId, //product 의 id
                customerId: userId,
                orderName: productName
            };
            //임시 저장해놓자(나중에 비교해볼거 + 멤버, 상품아이디)
            fetch("/payment/temporary-save", {
                headers: {
                    "Content-Type": "application/json"
                },
                method: "post",
                body: JSON.stringify(sendData),
            })
                .then(resp => resp.json())
                .then(json => {
                    console.log("여기타면 성공")
                    console.log(json);
                });
            await widgets.requestPayment({
                orderId: customerKey, //주문번호는 서버에서 뿌려준다
                orderName: productName, //prodcut의 상품명
                successUrl: window.location.href ="http://ec2-52-79-61-147.ap-northeast-2.compute.amazonaws.com/payment/success.html",
                failUrl: window.location.href = "http://ec2-52-79-61-147.ap-northeast-2.compute.amazonaws.com/payment/fail",
                customerEmail: userEmail,
                customerName: userName,
                customerMobilePhone: tel, //가상계좌 안내, 퀵계좌이체 휴대폰 번호 자동 완성에 사용
            });
        });
    }
</script>
</body>

</html>