<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org" style="height: 100%">
<head>
    <meta charset="utf-8"/>
    <!-- 로고 -->
    <link rel="icon" href="/img/wave-logo.png"/>
    <link rel="stylesheet" type="text/css" href="/css/toss.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>결제 실패</title>
</head>

<body>
<div id="info" class="box_section" style="width: 600px">
    <img width="100px" src="https://static.toss.im/lotties/error-spot-no-loop-space-apng.png"/>
    <h2>결제를 실패했어요</h2>

    <div class="p-grid typography--p" style="margin-top: 50px">
        <div class="p-grid-col text--left"><b>에러메시지</b></div>
        <div class="p-grid-col text--right" id="message" th:text="${message}"></div>
    </div>
    <div class="p-grid typography--p" style="margin-top: 10px">
        <div class="p-grid-col text--left"><b>에러코드</b></div>
        <div class="p-grid-col text--right" id="code" th:text="${code}"></div>
    </div>
    <div class="p-grid">
        <button class="button p-grid-col5" onclick="window.location.href='/'">홈으로 가기</button>
        <button class="button retry-btn p-grid-col5" th:data-product-id="${session.saveDto?.productId}"
                style="background-color: #e8f3ff; color: #1b64da">재시도
        </button>
    </div>
</div>

<script>
    const codeElement = document.querySelector("#code");
    const messageElement = document.querySelector("#message");

    const sendData = {
        errorCode: codeElement.value,
        errorMessage: messageElement.value,
        success: 0,
    }
    fetch("/payment/resultSave", {
        method: "post",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(sendData),
    })
        .then(resp => resp.json())
        .then(json => {
            console.log(json);
        });

    const retryBtn = document.querySelector(".retry-btn");
    const productId = retryBtn.dataset.productId;
    console.log("productId", productId);
    retryBtn.addEventListener("click", () => {
        if (productId) window.location.href = `/product/payment/checkout/${productId}/detail`;
        else alert("세션이 종료되었습니다.");
    });
</script>
</body>
</html>