<div th:fragment="sidebar" class="sidebar">
  <div class="menu-item">
    여성의류
    <div class="submenu">
      <a href="">아우터</a>
      <a href="">상의</a>
      <a href="">바지</a>
      <a href="">치마</a>
      <a href="">원피스</a>
      <a href="">점프수트</a>
      <a href="">셋업/세트</a>
      <a href="">언더웨어/홈웨어</a>
      <a href="">테마/이벤트</a>
    </div>
  </div>
  <div class="menu-item">
    남성의류
    <div class="submenu">
      <a href="">아우터</a>
      <a href="">상의</a>
      <a href="">바지</a>
      <a href="">점프수트</a>
      <a href="">셋업/세트</a>
      <a href="">언더웨어/홈웨어</a>
      <a href="">테마/이벤트</a>
    </div>
  </div>
  <div class="menu-item">
    신발
    <div class="submenu">
      <a href="">스니커즈</a>
      <a href="">남성화</a>
      <a href="">여성화</a>
      <a href="">스포츠화</a>
    </div>
  </div>
</div>
