<!-- src/main/resources/templates/fragments/header.html -->
<header th:fragment="header">    

    <div class="logo-box">
      <a href="/" target="_blank">
        <img th:src="@{/img/wave-logo.png}" alt="logo">
      </a>
    </div>

    <div>wave</div>

    <div class="login-box">
      <ul>
        <li><a href="/login">로그인</a><span>/</span><a href="/signup">회원가입</a></li>
        <li><a href="/cart"><img th:src="@{/img/svg/shopping_bag.svg}" alt="shopping_bag"></a></li>
      </ul>
               
  </header>

