<div class="product-shopstyle">
  <a href="/product/detail">
  <img th:src="@{/img/product/sample01.jpg}" alt="">
  <p>sample01</p>
  <p class="product-price"><span>60000</span><span>원</span></p>
  <p class="product-date">일 전</p>
</a>
</div>

<div class="product-shopstyle">
  <a href="/product/detail">
  <img th:src="@{/img/product/sample01.jpg}" alt="">
  <p>sample01</p>
  <p class="product-price"><span>60000</span><span>원</span></p>
  <p class="product-date">일 전</p>
</a>
</div>

<div class="product-shopstyle">
  <a href="/product/detail">
  <img th:src="@{/img/product/sample01.jpg}" alt="">
  <p>sample01</p>
  <p class="product-price"><span>60000</span><span>원</span></p>
  <p class="product-date">일 전</p>
</a>
</div>

<div class="product-shopstyle">
  <a href="/product/detail">
  <img th:src="@{/img/product/sample01.jpg}" alt="">
  <p>sample01</p>
  <p class="product-price"><span>60000</span><span>원</span></p>
  <p class="product-date">일 전</p>
</a>
</div>

<div class="product-shopstyle">
  <a href="/product/detail">
  <img th:src="@{/img/product/sample01.jpg}" alt="">
  <p>sample01</p>
  <p class="product-price"><span>60000</span><span>원</span></p>
  <p class="product-date">일 전</p>
</a>
</div>


<div class="product-shopstyle">
  <a href="/product/detail">
  <img th:src="@{/img/product/sample01.jpg}" alt="">
  <p>sample01</p>
  <p class="product-price"><span>60000</span><span>원</span></p>
  <p class="product-date">일 전</p>
</a>
</div>



<div class="product-shopstyle">
  <a href="/product/detail">
  <img th:src="@{/img/product/sample01.jpg}" alt="">
  <p>sample01</p>
  <p class="product-price"><span>60000</span><span>원</span></p>
  <p class="product-date">일 전</p>
</a>
</div>